<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BASURA{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/sponsors">Sponsors</a>
        <a href="/search">Búsqueda</a>
        <a href="/stats">Stats</a>
        <a href="/enrollment">Inscripciones</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>