{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
    <h1>Torneos de Videojuegos</h1>
    <p>Selecciona una consulta para explorar los datos:</p>

    <div class="cards">
        <a href="/sponsors" class="card">
            <h2>Sponsors</h2>
        </a>
        <p>Sponsors que han auspiciado todos los torneos de un videojuego.</p>
        <a href="/stats" class="card">
            <h2>Stats</h2>
        </a>
        <p>Ranking de jugadores + evolución por fase de un equipo seleccionable.</p>
        <a href="/enrollment" class="card">
            <h2>Inscripciones</h2>
        </a>
        <p>Permitir inscribir un equipo en un torneo.</p>
        <a href="/search" class="card">
            <h2>Búsqueda</h2>
        </a>
        <p>Buscador de jugadores y equipos.</p>
        <a href="/torneos" class="card">
            <h2>Torneos</h2>
        </a>
        <p>Información de torneo a selección.</p>
    </div>
</div>
{% endblock %}