{% extends  "base.html" %}

{%block title %}Torneos{% endblock %}

{% block content %}

<div class="container">
    <h1>Torneos Disponibles</h1>

    <div id="tournaments-list" class="cards">
        <p>Cargando Torneos...</p>
    </div>

    <div id="tournament-details" style="display:none; margin-top: 40px; border-top: 2px solid #ccc; padding-top: 20px;">
        <h2 id="details-title">Detalles del Torneo</h2>
        <h3>Equipos Inscritos y sponsors</h3>
        <div style="flex: 1;">
            <h4>Equipos</h4>
            <ul id="teams-list"></ul>
            <h4>Sponsors</h4>
            <ul id="sponsors-list"></ul>
        </div>
    </div>
    <h3>Tabla de Posiciones (Fase de grupos)</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Equipos</th>
                <th>PJ</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody id="standings-body"></tbody>
    </table>

    <h3>Partidas Jugadas</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Fase</th>
                <th>Equipo A</th>
                <th>Score</th>
                <th>Equipo B</th>
            </tr>
        </thead>
        <tbody id="matches-body"></tbody>
    </table>
</div>

<script>

document.addEventListener('DOMContentLoaded', fetchTournaments);

async function fetchTournaments() {
    try{
        const response = await fetch('/api/tournaments');
        const result = await response.json();

        const listDiv = document.getElementById('tournaments-list');
        listDiv.innerHTML = '';
        result.data.forEach(t => {
            const safeName = String(t.nombre).replace(/'/g, "\\'");
            listDiv.innerHTML += `
                <div class="card" style="cursor:pointer; border: 1px solid #ccc; padding: 15px; margin-bottom: 10px;" onclick="fetchTournamentDetails(${t.id_torneo}, '${t.nombre}')">
                    <h3>${t.nombre}</h3>
                    <p><strong>Juego:</strong> ${t.videojuego}</p>
                    <p><strong>Fechas:</strong> ${t.fecha_inicio} a ${t.fecha_fin}</p>
                    <p><strong>Prize Pool:</strong> $${t.prize_pool}</p>
                </div>
            `;
        });
    } catch (error) {
        console.error("Error cargando torneos:", error);
    }
}

async function fetchTournamentDetails(id_torneo, nombre_torneo) {
    try {
        document.getElementById('details-title').innerText = `Detalles: ${nombre_torneo}`;
        document.getElementById('tournament-details').style.display = 'block';

        const response = await fetch(`/api/tournaments/${id_torneo}`);
        const result = await response.json();
        const data = result.data;
        console.log(data)

        const teamsList = document.getElementById('teams-list');
        teamsList.innerHTML = data.equipos_inscritos.map(e => `<li>${e.nombre_equipo}</li>`).join('');

        const sponsorsList = document.getElementById('sponsors-list');
        sponsorsList.innerHTML = data.sponsors.map(s => `<li>${s.nombre} (${s.industria}) - $${s.monto_aporte}</li>`).join('');

        const standingsBody = document.getElementById('standings-body');
        standingsBody.innerHTML = data.tabla_posiciones.map(pos => `
            <tr>
                <td><strong>${pos.equipo}</strong></td>
                <td>${pos.partidas_jugadas}</td>
                <td>${pos.ganadas}</td>
                <td>${pos.empatadas}</td>
                <td>${pos.perdidas}</td>
                <td><strong>${pos.puntaje_total}</strong></td>
            </tr>
        `).join('');

        const matchesBody = document.getElementById('matches-body');
        matchesBody.innerHTML = data.partidas.map(m => `
            <tr>
                <td>${new Date(m.fecha_hora).toLocaleString()}</td>
                <td>${m.fase}</td>
                <td style="text-align: right;">${m.equipo_a}</td>
                <td style="text-align: center;"><strong>${m.score_a} - ${m.score_b}</strong></td>
                <td>${m.equipo_b}</td>
            </tr>
        `).join('');
        document.getElementById('tournament-details').scrollIntoView({ behavior: 'smooth'});
    
    } catch (error) {
        console.error("Error cargando los detalles:", error);
    }
}
</script>

{% endblock %}